<!DOCTYPE html>
<html>


<!-- Mirrored from webapplayers.com/inspinia_admin-v2.4/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 25 Feb 2016 10:51:05 GMT -->
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | Login</title>

    <link href="/template/css/bootstrap.min.css" rel="stylesheet">
    <link href="/template/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="/template/css/animate.css" rel="stylesheet">
    <link href="/template/css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">RIM</h1>

            </div>
            <h3>Welcome to RIMS</h3>
            <p>Rwanda Internal Migration Management System
            </p>
            <p>Login in.</p>
            {{#if message}}
                <div class='alert alert-danger alert-dismissible'>{{message}}</div>
            {{/if}}
            <form class="m-t" role="form" action="/admin/login" method="POST">
                <div class="form-group">
                    <input name="username" type="email" class="form-control" placeholder="Username" required="">
                </div>
                <div class="form-group">
                    <input name="password" type="password" class="form-control" placeholder="Password" required="">
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
                <!--
                <a href="#"><small>Forgot password?</small></a>
                <p class="text-muted text-center"><small>Do not have an account?</small></p>
                <a class="btn btn-sm btn-white btn-block" href="register.html">Create an account</a>
                -->
            </form>
        <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small> </p>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="/template/js/jquery-2.1.1.js"></script>
    <script src="/template/js/bootstrap.min.js"></script>

</body>


<!-- Mirrored from webapplayers.com/inspinia_admin-v2.4/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 25 Feb 2016 10:51:05 GMT -->
</html>
