<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element"> {{!-- <span>
                        <img alt="image" class="img-circle" src="img/profile_small.jpg" />
                         </span> --}}
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{session.data.name}}</strong>
                         </span> <span class="text-muted text-xs block">{{session.data.privilege_user}}{{session.data.privilege_admin}} <b class="caret"></b></span> </span> </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="#">Configure</a></li>
                        <li class="divider"></li>
                        <li><a href="/admin/logout">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    RIMS
                </div>
            </li>
            <li>
                <a href="/dashboard"><i class="fa fa-dashboard"></i> <span class="nav-label">Dashboard </span></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-users"></i> <span class="nav-label">Citizens</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="/citizens"><i class="fa fa-users"></i> All citizens</a></li>
                    <li><a href="/new-citizen-form"><i class="fa fa-plus"></i> New citizen</a></li>
                </ul>
            </li>
            {{#if session.data.privilege_admin}}
                <li>
                    <a href="#"><i class="fa fa-cogs"></i> <span class="nav-label">Admin</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="/admin/users"><i class="fa fa-users"></i> Users</a></li>
                        <li><a href="/admin/new-user"><i class="fa fa-plus"></i> New user</a></li>
                    </ul>
                </li>
            {{/if}}
        </ul>

    </div>
</nav>