<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>New citizen</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">Home</a>
            </li>
            <li class="active">
                <strong>New citizen</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><i class='fa fa-user'></i> Personal information <small>All fields with (*) are required.</small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    {{#if message}}
                        <div class='alert alert-success alert-dismissible col-sm-offset-2'>
                            {{message}}
                        </div>
                    {{/if}}
                    <form method="POST" action="/api/create-new-citizen" class="form-horizontal" encType="multipart/form-data">>
                        <div class='row'>
                            <div class='col-md-12'>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">First name*</label>
                                    <div class="col-sm-10">
                                        <input name="first_name" type="text" class="form-control" placeholder='First name' required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Last name* </label>
                                    <div class="col-sm-10">
                                        <input name="last_name" type="text" class="form-control" placeholder='Last name' required> 
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">National ID* </label>
                                    <div class="col-sm-10">
                                        <input name="nid" type="number" class="form-control" name="password" placeholder='National Identification Number' required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Date of Birth* </label>
                                    <div class="col-sm-10">
                                        <input name="dob" type="date" class="form-control" placeholder='yyy-mm-dd' required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Place of birth* </label>
                                    <div class="col-sm-10">
                                        <input name="place_of_birth" type="text" class="form-control" name="password" placeholder='Place of birth' required>
                                        <span class="help-block m-b-none">Province and District</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Phone number* </label>
                                    <div class="col-sm-10">
                                        <input name="phone_number" type="text" placeholder="placeholder" class="form-control" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Email</label>
                                    <div class="col-sm-10">
                                        <input name="email" type="email" placeholder="placeholder" class="form-control" required >
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-md-12'>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Country</label>
                                    <div class="col-sm-10">
                                        <select name='country' class="form-control">
                                            <option value='1'>Rwanda</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Province*</label>
                                    <div class="col-sm-10">
                                        <select id="selectProvince" name='province' class='form-control' onChange="pullDistricts()" required>
                                            <option>---select---</option>
                                            {{#each provinces as |province|}}
                                              <option value={{province.province_id}}>{{province.province_name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">District*</label>
                                    <div class="col-sm-10">
                                        <select id="selectDistrict" name='district' class='form-control' onChange="pullImirenge()" required >
                                            <option value=''>-- select --</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Umurenge*</label>
                                    <div class="col-sm-10">
                                        <select id="selectUmurenge" name='umurenge' class='form-control' required>
                                            <option value=''>-- select --</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Akagari*</label>
                                    <div class="col-sm-10">
                                        <select id="selectAkagari" name='akagari' class='form-control' onChange="pullUtugari()" required>
                                            <option value='1'>Anonymous</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Cell / Umudugudu*</label>
                                    <div class="col-sm-10">
                                        <input name='umudugudu' type='text' placeholder='Umudugudu' class='form-control' required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Photo</label>
                                    <div class="col-sm-10">
                                        <input name='profile_photo' type='file' class='form-control'>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ibox-title">
                            <h5><i class='fa fa-child'></i> Parents information<small> All fields with (*) are required.</small></h5>
                        </div>
                        <div class='ibox-content'>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Father's full name</label>
                                <div class="col-sm-10">
                                    <input name="father" type="text" placeholder="Full name" class="form-control" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Mother's full name</label>
                                <div class="col-sm-10">
                                    <input name="mother" type="text" placeholder="Full name" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Current Residence</label>
                                <div class="col-sm-10">
                                    <input name="parent_curr_residence" type="text" placeholder="Full address" class="form-control">
                                    <span class="help-block m-b-none">Province, District, Umurenge, Akagari, Umudugudu</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Contact phone number</label>
                                <div class="col-sm-10">
                                    <input name="parents_contact_phone" type="text" placeholder="07xxxxxxxxxx" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="ibox-title">
                            <h5><i class='fa fa-briefcase'></i> Employer's information <small>All fields with (*) are required.</small></h5>
                        </div>
                        <div class='ibox-content'>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Employer's full name*</label>
                                <div class="col-sm-10">
                                    <input name="employer_name" type="text" placeholder="Full name" class="form-control" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">National ID</label>
                                <div class="col-sm-10">
                                    <input name="employer_nid" type="number" placeholder="National ID" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Phone number*</label>
                                <div class="col-sm-10">
                                    <input name="employer_phone_number" type="text" placeholder="07xxxxxxxx" class="form-control" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Current residence</label>
                                <div class="col-sm-10">
                                    <input name="employer_curr_residence" type="text" placeholder="Full address" class="form-control" required>
                                    <span class="help-block m-b-none">Province, District, Umurenge, Akagari, Umudugudu</span>
                                </div>
                            </div>
                             <div class="hr-line-dashed"></div>
                            <div class='col-sm-offset-2'>
                                <button class='btn btn-primary'>Save</button>
                            </div>
                        </div>  
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--- Helper Javascript--->
<script type="text/javascript" src='/javascripts/custom.js'></script>